*{
    margin: 0;
    padding: 0;
}
@media screen and (min-width:992px){
  .nav-item {
  line-height:80px;
  }
}   
.text_top{
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: white;
}

.img_simple img{
  margin-left: 1rem;
  margin-right: 1rem;
}
.back_nav{
    color: white;
}
a{
  color: black;
  text-decoration: none;
}
a:hover{
  color: black;

}


.back_header{
  background: linear-gradient(to bottom, #000000b8, #242145);
  width: 100%;
  display: flex;
  justify-content: center;
}


.text_a{
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  background-color: none;
}
.text_a button[type="text"] {
  background-color: #242145;
  opacity: 95%;
  transition: 0.5s;
}
.text_a button[type="text"]:hover {
  transition: 1s;
  filter: brightness(120%);
  background-color: #ffffff;
  color: black;
}
  
.color_white a {
  color: white;
}
.color_white a:hover{
  border-radius: 1rem;
  background-color: rgb(20, 210, 220);
  color: black;
}
.mid_header *{
  display: flex;
  justify-content: center;
  text-align: center;
}

.mid_header p{
  font-size: 26px;
  width: 100%;
  padding: 3rem;
  color: white;
}

.container-fluid.mid_header {
  background-color: #242145;
  border-radius: 3rem;
  margin: 6rem;
  

}
.mid_header img {
    width: 500%
}



.image_nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.image_nav img {
  width: 100px;
  margin: 0 50px;
}
  
  
@media (max-width: 723px) {


  .image_nav {
    display: flex;
    flex-direction: column;
  }
      
  .image_nav img {

    width: 100px;
    margin: 0 50px;
    margin-top: 2rem;
  }
  .text_h1 h1{
    font-size: 40px;
  }
}
.text_h1{
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin: 3rem;
}



.explnation{
  margin-top: 5rem;
  padding: 5rem;
  background-color: #201f22;
  color: white;
  display: flex;
  flex-direction: row;
 
}

.some_text *{
  margin-top: 4rem;
  
}
.some_text p{
  width: 100%;
  
}
.some_text button[type="text"]{
  margin-top: 0rem;
  font-size: 20px;
}

@media (max-width: 1206px) {
  .explnation {
    margin-top: 5rem;
    background-color: #201f22;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .some_text {
    order: 1;
    text-align: center;
    margin-bottom: 2rem;
  }

  .image_some_text {
    order: 2;
    margin-bottom: 2rem;
 
  }
}
@media (max-width: 600px) {
  .explnation {
    padding: 1rem;
    margin-top: 5rem;
    background-color: #201f22;
    color: white;
    display: flex;
    flex-direction: column;
  }

  .some_text {
    order: 1;
    text-align: center;
    margin-bottom: 2rem;
  }

  .image_some_text {
    order: 2;
    margin-bottom: 2rem;
 
  }
  .image_some_text img{
    width: 100%;
 
  }
}

.backgrond-bacl{
  width: 100%;
}


.backgrond-bacl a {
    line-height: 2em;
    color: #fff;
    text-decoration: none;
    margin: 0;
    padding: 0;
    width: 55%;
    transition: 0.5s;
}

.backgrond-bacl a:hover{
  border-radius: 1rem;
  background-color: crimson;
}



@media (max-width: 2640px) {
  .backgrond-bacl a{
    width: 30%;
  }

}

@media (max-width: 1450px) {
  .backgrond-bacl a{
    width: 50%;
  }

}
@media (max-width: 768px) {
  .backgrond-bacl a{
    width: 40%;
  }

}
@media (max-width: 425px) {
  .backgrond-bacl a{
    width: 20%;
  }

}
@media (max-width: 375px) {
  .backgrond-bacl a{
    width: 30%;
  }

}
@media (max-width: 280px) {
  .backgrond-bacl a{
    width: 40%;
  }

}

.hamburgr_text a{
  font-size: 16px;
}

.dropdown-menu {
  background: #201f22;
}






.backgrond-bacl h5 {
    color: #fff;
    font-weight: bold;
}


footer{
  background-color: #242145;
}



.back_fack{
  background-color: #201f22;
}
.back_fack *{
  color: white;
}
.back_fack a:hover{
  color: white;
  border-radius: 2px;
  border-bottom: 2px solid crimson;
}



.bor_r{
  border-radius: 1rem;
  border-color: rgb(0, 187, 255);
}

.buton_white{
  color: black;
  font-size: 21px;
}

.zap img{
  width: 100%;
  height: 10rem;
}
.zap{
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1;
}
@media (max-width:1000px){
  .zap img{
    width: 100%;
    height: 5rem;
  }

}


.mapa{
  width: 100%;
  border:#201f22
}


.valor stroke{
  color: #205AFA;
  font-size: 17.9px;
}




@media (max-width:800px){
  .card img{
    width: 100%;
    height: 140;
  }
}


.imagem-carousel{
  object-fit: cover;
  object-position: 50%;
  height: 200px;
}

.imagem_padrao{
  object-fit: cover;
  object-position: 50%;
  height: 400px;
  border-radius: 2rem;
}

.clients{
  object-fit: cover;
  object-position: 80%;
  height: 300px;
  border-radius: 10rem;
  width: 40%;
}
@media (max-width:900px){
  .clients{
    object-fit: cover;
    object-position: 80%;
    height: 300px;
    border-radius: 10rem;
    width: 50%;
  }

}

@media (max-width:468px){
  .clients{
    object-fit: cover;
    object-position: 80%;
    height: 300px;
    border-radius: 10rem;
    width: 100%;
  }

}


.estrela{
  color: rgb(206, 206, 0);
}
