*{
    margin: 0;
    padding: 0;
}
@media screen and (min-width:992px){
    .nav-item {
    line-height:80px;
    }
}   
.text_top{
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: white;
}


.back_nav{
    color: white;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: black;
}

.back_header{
    background: linear-gradient(to bottom, #000000b8, #242145);
    width: 100%;
    display: flex;
    justify-content: center;
}


.text_a{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    background-color: none;
}
.text_a button[type="text"] {
    background-color: #242145;
    opacity: 95%;
    transition: 0.5s;
}
.text_a button[type="text"]:hover {
    transition: 1s;
    filter: brightness(120%);
    background-color: #ffffff;
    color: black;
}
  

.mid_header *{
  display: flex;
  justify-content: center;
  text-align: center;
}

.mid_header p{
  font-size: 26px;
  width: 100%;
  padding: 3rem;
  color: white;
}

.container-fluid.mid_header {
  background-color: #242145;
  border-radius: 3rem;
  margin: 6rem;
  

}
.mid_header img {
    width: 500%
}



.image_nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image_nav img {
    width: 100px;
    margin: 0 50px;
  }
  
  
  @media (max-width: 723px) {
    .image_nav {
        display: flex;
        flex-direction: column;
      }
      
      .image_nav img {
        width: 100px;
        margin: 0 50px;
        margin-top: 2rem;
      }
}
.text_h1{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 3rem;
}


.explnation{
  margin-top: 5rem;
  padding: 5rem;
  background-color: #201f22;
  color: white;
  display: flex;
  flex-direction: row;
 
}

.some_text *{
  margin-top: 4rem;
  
}
.some_text p{
  width: 100%;
  
}
.some_text button[type="text"]{
  margin-top: 0rem;
  font-size: 20px;
}

@media (max-width: 1206px) {
  .explnation {
    margin-top: 5rem;
    background-color: #201f22;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .some_text {
    order: 1;
    text-align: center;
    margin-bottom: 2rem;
  }

  .image_some_text {
    order: 2;
    margin-bottom: 2rem;
 
  }
}
@media (max-width: 600px) {
  .explnation {
    padding: 1rem;
    margin-top: 5rem;
    background-color: #201f22;
    color: white;
    display: flex;
    flex-direction: column;
  }

  .some_text {
    order: 1;
    text-align: center;
    margin-bottom: 2rem;
  }

  .image_some_text {
    order: 2;
    margin-bottom: 2rem;
 
  }
  .image_some_text img{
    width: 100%;
 
  }
}




.nav_left{
  background-image: url(/content/dam/pluralsight2/homepage/2022-revamp/skills-cta-lines.png);
}